#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  font-size: x-large;
}

li > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1em;
}

li > button:hover {
  border-color: #646cff;
}

li > button:focus,
li > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
